/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

$fda-blue:#007cba;
$fda-dark-blue: #222c67;
$fda-light-blue: #E6F2F9;
$fda-black:#2e2925;
$fda-dark-grey:#6d6e71;
$fda-red:#d60036;
$fda-gold:#e5b611;

a {
  color:#007cba;
}

.fda-card .usa-card__heading a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
    color: $fda-dark-blue;
  }
}

.usa-logo a{
  color: #fff;
}

.usa-header {
  background: $fda-dark-blue;
  color: #fff;
}

.usa-header .usa-nav__link:hover::after, .usa-header .usa-nav__primary-item>.usa-current::after {
  background-color: $fda-gold;
}

.usa-header--extended .usa-nav {
  background-color: #fff;
}

.usa-header--basic .usa-nav__primary button, .usa-header--basic .usa-nav__primary>.usa-nav__primary-item>a {
  color: #fff;
}

.usa-nav__primary button , .usa-nav__primary>.usa-nav__primary-item>a{
  font-weight: 400;
}


.usa-nav__secondary-links a , .usa-nav__secondary-links a:hover, .usa-nav__secondary-links a:focus {
  color: #fff;
}

.fda-card.usa-card__container {
  border: none;
  border-top:6px solid $fda-dark-blue;
  box-shadow: 0px 3px 4px 3px rgb(0 0 0 / 8%);
}

.usa-hero__callout{
  background-color: none;

  .usa-button.usa-button--outline{
    background: #fff;
    border-color: $fda-gold;
    box-shadow: inset 0 0 0 1px $fda-gold;
  }

}

.usa-hero, .usa-hero__heading, .usa-hero__heading--alt{
  color: $fda-black;
}

@media (min-width: 40em){
.usa-hero__callout {
    max-width: 40rem;
}
}

.usa-tag {
  background-color: $fda-gold;
  color: $fda-black;
}


.usa-sidenav .usa-current::after{
  background-color: $fda-gold;
}

.usa-prose .usa-button-group{
  padding-left: 0;
}

.usa-icon-list {
  list-style-type: none;
}

.usa-icon-list__content, .usa-icon-list__icon{
display:inline;
}