.fda-card .usa-card__heading a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
    color: $fda-dark-blue;
  }
}

.fda-card.usa-card__container {
  border: none;
  border-top:6px solid $fda-dark-blue;
  box-shadow: 0px 3px 4px 3px rgb(0 0 0 / 8%);
}
