@use "../settings" as *;
@use 'uswds-core' as *;

$usa-header-height: 5rem;

.usa-logo {
  font-size: revert;
  line-height: inherit;
  @include at-media($theme-header-min-width) {
    @include u-margin-y(0);
  }

  a {
    color: #fff;
  }

  &__image {
    @include u-margin-y(0);
    img {
      @include u-margin-top(2);
      width: 2rem;
      @include at-media($theme-header-min-width) {
        width: 15rem;
      }
    }
  }
}

.usa-header {
  background: color('primary-dark');
  color: #fff;
}

.usa-header .usa-nav__link:hover::after, .usa-header .usa-nav__primary-item>.usa-current::after {
  background-color: color('accent-warm');
}

.usa-header--extended .usa-nav {
  background-color: #fff;
}

.usa-header--basic .usa-nav__primary button, .usa-header--basic .usa-nav__primary>.usa-nav__primary-item>a {
  color: #fff;
}

.usa-nav__primary button , .usa-nav__primary>.usa-nav__primary-item>a{
  font-weight: 400;
}


.usa-nav__secondary-links a , .usa-nav__secondary-links a:hover, .usa-nav__secondary-links a:focus {
  color: #fff;
}

.usa-header--basic {
  @include at-media($theme-header-min-width) {
    .usa-nav-container--full-width {
      @include u-flex("align-center");
      display: flex;
      height: auto;
      max-width: none;
    }
  }
}

@include at-media($theme-header-min-width) {
  .usa-nav--secondary {
    @include u-border-bottom(2px, 'solid', 'base-lighter');
    display: block;
    height: 3rem;
    padding-left: 1rem;
    z-index: 100;
    float: none;
  }
}

.usa-nav--secondary a {
  @include u-font('sans', 'sm');
}

.usa-nav__primary > .usa-nav__primary-item {
  .usa-current {
    @include u-text('bold', 'base-darker');
    position: relative;
  }

  @include at-media($theme-header-min-width) {
    .usa-current::after {
      @include u-bg('accent-warm');
      position: absolute;
      display: block;
      content: "";
      height: units('05');
      left: units(1);
      right: units(1);
      bottom: 0;
    }
  }

  @include at-media-max($theme-header-min-width) {
    .usa-current::after {
      @include u-bg('accent-warm');
      position: absolute;
      display: block;
      content: "";
      left: 0;
      right: units(1);
      bottom: units(1);
    }
  }
}

.usa-navbar {
  @include at-media-max($theme-header-min-width) {
    .usa-navbar__menu-btn {
      height: units($size-touch-target);
    }
  }
}
