@use "../settings" as *;
@use 'uswds-core' as *;

.usa-hero__callout {  
    .usa-button.usa-button--outline {
        background: #fff;
        border-color: color('accent-warm');
        box-shadow: inset 0 0 0 1px color('accent-warm');
    }
}

.usa-hero__heading {
    @include typeset-h1;
    @include u-text('ink', 'ls-1');
}

.usa-hero__content {
    @include u-text('ink', 'ls-1');
    line-height: line-height('body', 3);
    font-size: size('body', 'xl');
}
