/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.10.0
----------------------------------------
COMPONENT SETTINGS
----------------------------------------
Read more about settings and
USWDS style tokens in the documentation:
https://designsystem.digital.gov/design-tokens
----------------------------------------
*/
@use '../../labcoat/settings/' as labcoat;
@use 'uswds-core/src/styles/settings/settings-components' with (
    // Banner
    $theme-banner-max-width: none,
    // Breadcrumb
    $theme-breadcrumb-background-color: "white",
    // Card
    $theme-card-border-color: "base-lighter",
    $theme-card-border-radius: "sm",
    $theme-card-border-width: 1px,
    $theme-card-gap: 4,
    // Hero
    $theme-hero-image: labcoat.get-image-path('hero.png'),
    // Table
    $theme-table-border-color: "ink",
    $theme-table-header-text-color: "ink",
    $theme-table-stripe-text-color: "ink",
    $theme-table-text-color: "ink",
);
