/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.13.1
----------------------------------------
SPACING SETTINGS
----------------------------------------
Read more about settings and
USWDS spacing units tokens in the
documentation:
https://designsystem.digital.gov/design-tokens/spacing-units
----------------------------------------
*/

@use 'uswds-core/src/styles/settings/settings-spacing' with (
  /*
  ----------------------------------------
  Grid container max-width
  ----------------------------------------
  mobile
  mobile-lg
  tablet
  tablet-lg
  desktop
  desktop-lg
  widescreen
  ----------------------------------------
  */

  $theme-grid-container-max-width: "widescreen",

  /*
  ----------------------------------------
  Site
  ----------------------------------------
  */

  $theme-site-margins-breakpoint: "widescreen",
);
